{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vec</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">


	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    

	<div class="container mt-5">

        <div class="dropdown">
            <button class="dropdown-toggle" data-easy-toggle="#dropdown" data-easy-class="show" data-easy-recoe>Выбрать файл</button>
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="dropdown" class="dropdown-menu">
                    <input type="file" id="file" name="file" required accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <input type="submit" id="wordvec" value="Word2Vec" name="_wordvec">
                    <input type="submit" id="tfidfvectorizer" value="TfidfVectorizer" name="_tfidfvectorizer">
                    <input type="submit" id="countvectorizer" value="CountVectorizer" name="_countvectorizer">
                </div>
            </form>
        </div>

    </div>
    <div>
        <canvas id="myChart" width="600px" height="400px">

        </canvas>
    </div>

    <script src="{% static 'js/style.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
        
	<script>
        let ctx = document.querySelector('#myChart').getContext('2d');
        ctx.canvas.parentNode.style.height = '600px';
        ctx.canvas.parentNode.style.width = '1000px';
        let myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: {{x}},
                datasets: [{
                    label: ' ',
                    data: {{y}},
                    backgroundColor: [
                        'white'
                    ],
                    borderColor: {% autoescape off %} {{coloors}} {% endautoescape %},
                    borderWidth: 5,
                }],
                
            },
            options: {
                maintainAspectRatio: false,
            },
        })
    </script>
    
    
</body>
</html>

